<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Personal Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="contact">
            <h2>Get in Touch</h2>
            <p>Want to collaborate or just say hi?</p>
            <ul>
                <li><strong>Email:</strong> <a href="aravindb@gmail.com">aravindb@gmail.com</a></li>
                <li><strong>Phone:</strong> 1234567890</li>
                <li><strong>Address:</strong> Yeroor, Kollam, Kerala</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Sidharth B Pillai</p>
    </footer>
</body>
</html>